.box{
  width:30em;
  margin:20em auto;
  border:1px solid #ccc;
 }
.container {
    padding: 2rem 0rem;
    
  }
 
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image td, .table-image th {
    vertical-align: center;

  }
  

   .btn-speces{
margin-left: 9%;


   }
  
   #login_body {
    background-image: url('https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
